body{
    background-color: rgb(148, 204, 241);
}
/*Attribute selectors*/
ul{
    background-color: rgb(0, 195, 255);
}
ul > li{
    color: darkblue;
    font-family: monospace;
}
/*Sibling selector*/
h1~p{
    color: purple;
}
p::first-letter{
    color: rgb(255, 0, 119);
    font-size: 40px;
}
/*Psuedo classes*/
ul li:hover{
    background-color: goldenrod;
}
ul li::before{
content: url(https://api.iconify.design/bi/star-fill.svg?height=12&color=blue

);
}
ul li::after{
    content: url(https://api.iconify.design/bi/moon-fill.svg?height=12&color=blue
    
    );
    }
a::before{
    content: url(https://api.iconify.design/bi/cloud-fill.svg?height=12&color=blue
     );
 }
 a::after{
    content: url(https://api.iconify.design/bi/sun-fill.svg?height=12&color=blue
     );
 }
 h1{
    text-shadow: 10px 10px 4px rgb(72, 72, 126);
color: rgb(49, 98, 190)
 }
    